<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Drinks</h2>
    <h3>By Blendify </h3>
    <a href="/smoothies" class="btn">View Menu</a>
  </div>
</header>


<%- include('partials/footer'); -%>